[Unit]
Description=Manage Java Service
Requires=network.target
After=network.target syslog.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=PORT={{ app_port }}
ExecStart=java -jar {{ app_dir }}/{{ app_file }} SuccessExitStatus=143
User=khomenko
Restart=on-failure
RestartSec=10
